include _sidebar

block vars

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/css/style.css")
    title Anemone / #{title}
      
  body
    #loader-bg
      #loader
        img(src='', width='100', height='80', alt='Now Loading...')
        p Now Loading...
    #wrap
      .app
        .app-header
          header
            .header_inner
              p.page_name #{name}
              .links
                p.pass >>パスワード変更
                p.login >>ログアウト
        .app-side
          +sidebar            
        .app-main
            block main
