.form_item {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #696969;
    color: #fff;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 10px;
    span {
      display: block;
      line-height: 17px;
    }
    &.long {
      width: 350px;
    }
  }
  input[type="text"] {
    width: 450px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    font-size: 18px;
    padding-left: 10px;
    &.short {
      width: 220px;
    }
    &.tel {
      width: 120px;
    }
    &.long {
      width: 500px;
    }
  }
  select {
    width: 450px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 0;
    background-color: transparent;
    font-size: 18px;
    &.short {
      width: 220px;
      &.ma {
        margin-right: 10px;
      }
    }
  }
  .label_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  span {
    margin: 0 15px;
  }
}
.web_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .checkbox {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
    }
    .checks {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      label {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 48%;
        height: 50px;
        border: 1px solid #000;
        line-height: 50px;
        input {
          width: 30%;
          height: 20px;
          margin-right: 20px;
          text-align: center;
        }
      }
    }
  }
  .box_desc {
    width: 48%;
    font-size: 14px;
    line-height: 18px;
  }
  &.mb {
    margin-bottom: 30px;
  }
}
