.section_wrapper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  h2 {
    background-color: #d3d3d3;
    font-size: 20px;
    border: 1px solid #000;
    &.long {
      width: 100%;
      box-sizing: border-box;
      padding: 15px 0 15px 20px;
    }
    &.check {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      padding-left: 20px;
      .labels {
        display: flex;
        flex-direction: row;
        align-items: center;
        label {
          display: block;
          width: 250px;
          height: 48px;
          line-height: 50px;
          box-sizing: border-box;
          padding-left: 20px;
          &.pink {
            background-color: #ffb6c1;
          }
          &.white {
            background-color: #fff;
          }
          input {
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
        }
      }
    }
    &.black {
      background-color: #000;
      color: #fff;
    }
  }
  h3 {
    font-size: 20px;
    border: 1px solid #000;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      display: block;
      width: 50px;
      height: 50px;
      background-color: #000;
      margin-right: 20px;
    }
    &.long {
      background-color: #d3d3d3;
      width: 100%;
      box-sizing: border-box;
      padding: 15px 0 15px 20px;
    }
  }
  .section_desc {
    margin: 30px 0;
    font-size: 13px;
  }
  .section_bold_desc {
    margin: 30px 0;
    font-size: 16px;
    font-weight: bold;
  }
  &.last {
    padding-bottom: 0;
  }
}
