header {
  width: 100%;
  height: 50px;
  background-color: $brack;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .header_inner {
    width: 1360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    .page_name {
      color: #fff;
      font-size: 20px;
    }
    .links {
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .pass,
      .login {
        padding: 0 20px;
      }
      .pass {
        color: yellow;
        border-right: 1px solid #fff;
      }
      .login {
        color: red;
      }
    }
  }
}
