.app {
  display: flex;
  justify-content: flex-start;
  align-items: start;

  &-header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  &-side {
    width: 300px;
    box-sizing: border-box;
    padding-top: 70px;
  }
  &-main {
    width: 1360px;
    padding-top: 100px;
    padding-left: 40px;
    border-left: solid 1px $brack;
    .tab {
      display: flex;
      flex-direction: row;
      align-items: center;
      .tab_btn {
        display: block;
        width: 250px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        border-bottom: none;
        box-sizing: border-box;
        font-size: 20px;
        &.pink {
          background-color: #ffc0cb;
        }
        &.blue {
          background-color: #00bfff;
          border-left: none;
        }
      }
    }
  }
}
