//navigation link hover

.nav_list_item_links_item > a {
  transition: .5s;

  &:hover {
    color: $orange;
  }
}


//cast list link hover
.shift_contents_box {
  a {
    transition: .5s;

    &:hover {
      color: $red;
    }
  }
}


//cast shift all view hover
.shift_btn:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}


//btn contents box btn hover
.tool_btn:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}


//posting contents hover
.posting_contents_box {
  td {
    a {
      transition: .5s;

      &:hover {
        color: $orange;
      }
    }
  }
}

.posting_more > a:hover:before,
.deliver_ad > a:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}


//sidebar hover
.sidebar_list {
  a {
    transition: .5s;

    &:hover {
      color: $orange;
    }
  }
}

.admin-sidebar_list {
  a {
    transition: .5s;

    &:hover {
      color: $orange;
    }
  }
}

//news post setting release hover
.news_post_setting_box_release_link {
  transition: .5s;

  &:hover {
    color: $blue;
  }
}

//news post setting pleview hover
.news_post_setting_box_pleview_link:hover:before {
  transform-origin: left top;
  transform: scale(1, 1);
}
