extends base/_layout

include base/_tool_btn

block vars
  - var title = "Oficial_shop-child";
  - var name = "：オフィシャル店舗作成";

block main
  .tab
    a(href="oficial_shop.html").tab_btn.pink
      p >> オフィシャル店舗作成
    a(href-="oficial_shop-list.html").tab_btn.blue
      p >> 作成した店舗一覧
  section.oficial_shop
    form(action="")
      .section_wrapper
        h2.section_title.check ミラー店舗の作成
          .labels
            label.pink
              input(type="checkbox" name="")
              | する
            label.white
              input(type="checkbox" name="")
              | しない
        p.section_desc 現在作成してある店舗から、ミラー店（いわゆる中身が一緒で、広告方法や出店エリアが違う店）を作成する場合は、詳細を設定してください。
        .mirror_shop
          .form_item
            label.long 情報を同期する元の店舗を選択：
            input(type="text" name="").long
          .tx_area
            p.tx 最近登録された店舗
            p.tx_bt
              span アネモネ品川店
              | ,
              span アネモネ銀座店
        p.section_bold_desc ミラー店の反映内容（ONにすると同期されると共に、その店舗の編集画面が表示されなくなります）
        .box01
          h3
            span
            | CMS・ホームページの更新情報の同期設定
          ul
            for item in resources.MirrorShopList
              li
                label
                  input(type="checkbox")
                  | #{item.text}
        .box02
          h3
            span
            | CMS 管理者が設定する項目の同期設定
          .inner
            .left.box
              .lf
                p.tx All
                input(type="checkbox" name="")
              .mi
                p.name 料金・基本設定
              .rg
                ul
                  for item in resources.RightList
                    li
                      label
                        input(type="checkbox" name="")
                        | #{item.text}
            .right.box
              .lf
                p.tx All
                input(type="checkbox" name="").rg
              .mi
                p.name 予約入力設定
              .rg
                ul
                  for item in resources.LeftList
                    li
                      label
                        input(type="checkbox" name="")
                        | #{item.text}
        .box03
          .box_inner
            h3
              span
              | 会員機能の同期
            a(href="#").pink_long WEB会員機能・ポイント（※ミラー元の店舗の設定に準ずる）
          .box_inner
            h3
              span
              | 固定の非同期項目
            .links
              a(href="#").blue_short 店舗サイトデザイン
              a(href="#").blue_short メールマガジン
      .section_wrapper
        h2.section_title.black.long 機能設定
        p.section_desc ミラー店舗の作成「する」の場合は、ミラー元の店舗の設定に準ずるため、この項目は編集できません。
        .web
          h3.long WEB会員機能の設定
          p.web_desc 注：）最初に選択したグループ設定にて、WEB会員機能・ポイントの共通化が行われている場合は、ONにした場合、その設定に準ずる形で反映します。逆にグループ設定でWEB会員機能・ポイントの共通化が行われていても、OFFにした場合、会員機能やポイントの共通化はこの店舗では行われません。
          .web_box
            .checkbox
              p グループ内で会員機能の共通化
              .checks
                label
                  input(type="checkbox" name="")
                  | ON
                label
                  input(type="checkbox" name="")
                  | OFF
            p.box_desc ※WEB会員情報とポイント機能を最初に設定したグループ内で共通化し、マルチログイン・ポイント相互利用ができる機能です。ONの場合、対応テンプレートを入れて下さい。
          .single_set
            p.single_title 個別設定
              span (グループ内で会員機能の共通化OFF選択時の画面)
            p.single_desc ※グループ内で、顧客情報・キャスト情報は共有するが、WEB会員機能・ポイント機能を店舗ごとに分けたい時に設定する項目です。
            .web_box.mb
              .checkbox
                p WEB会員機能
                .checks
                  label
                    input(type="checkbox" name="")
                    | ON
                  label
                    input(type="checkbox" name="")
                    | OFF
              p.box_desc ※対応テンプレートを適用しないとONにしても機能しません。
            .web_box
              .checkbox
                p ポイント機能
                .checks
                  label
                    input(type="checkbox" name="")
                    | ON
                  label
                    input(type="checkbox" name="")
                    | OFF
              p.box_desc ※WEB会員機能がOFFの場合は、ONしても機能しません。
        .cms
          h3.long 管理画面CMSの機能制限
          .web_box.mb
            .checkbox
              p CTI（電話機能）
              .checks
                label
                  input(type="checkbox" name="")
                  | 使用する
                label
                  input(type="checkbox" name="")
                  | 使用しない
            p.box_desc ※別途電話工事が必要です。ONにしても対応していない電話機では使用できません。
          .web_box.mb
            .checkbox
              p 操作ログ
              .checks
                label
                  input(type="checkbox" name="")
                  | 使用する
                label
                  input(type="checkbox" name="")
                  | 使用しない
            p.box_desc ※OFFにすると、予約画面やCMSの操作履歴は表示されません。              
          .web_box
            .checkbox
              p タイムライン
              .checks
                label
                  input(type="checkbox" name="")
                  | 使用する
                label
                  input(type="checkbox" name="")
                  | 使用しない
            p.box_desc ※OFFにすると、顧客予約管理画面は使用できません。  
      .section_wrapper
        h2.section_title.long キャストマイページ
        ul.cast-my_list
          for item in resources.CastMyList
            li
              label
                input(type="checkbox" name="")
                | #{item.text}
              if item.span
                span #{item.span}
