extends base/_layout

include base/_tool_btn

block vars
  - var title = "Oficial_shop";
  - var name = "：オフィシャル店舗作成";

block main
  .tab
    a(href="oficial_shop.html").tab_btn.pink
      p >> オフィシャル店舗作成
    a(href-="oficial_shop-list.html").tab_btn.blue
      p >> 作成した店舗一覧
  section.oficial_shop
    form(action="")
      .section_wrapper
        h2.section_title.check 店舗グループ機能を使用（顧客情報・キャスト情報・売上データー元化設定）
          .labels
            label.pink
              input(type="checkbox" name="")
              | 使用する
            label.white
              input(type="checkbox" name="")
              | 使用しない
        p.section_desc グループを選択すると、グループ内のオフィシャル店舗の、顧客情報・キャスト＆スタッフ情報・売上データを一元して管理する事ができます。アカウント毎の表示は後から権限設定で分ける事ができます。
        .group_area
          .form_item
            label グループ：
            select(name="")
              option(disabled selected value) ▼ 選択してください。
              option(value="value1") value1
              option(value="value2") value2
              option(value="value3") value3
          .links
            a(href="#").orange_long グループを設定
            a(href="#").white_long ＋ グループ作成はこちら
      .section_wrapper
        h2.section_title.check オフィシャルサイト表示設定
          .labels
            label.pink
              input(type="checkbox" name="")
              | 有効
            label.white
              input(type="checkbox" name="")
              | 無効
        .site_area
          .ft.wrap
            .form_item
              label 店舗名称：
              input(type="text" name="")
            p.tx ※半角全角小文字大文字に注意して、正式名称で入力してください。
          .sc.wrap
            .form_item
              label ひらがな：
              input(type="text" name="")
            .form_item
              label ローマ字：
              input(type="text" name="")
          .th
            span ※ドメインのDNS設定を先に行ってから操作して下さい。 
            .inner
              .form_item
                .label_wrap
                  label ドメイン：
                select(name="").short.ma
                  option(disabled selected value) ▼ 選択してください。
                  option(value="value1") value1
                  option(value="value2") value2
                  option(value="value3") value3
                input(type="text" name="").short
              .form_item
                label 電話番号：
                input(type="text" name="").tel
                span ー
                input(type="text" name="").tel
                span ー
                input(type="text" name="").tel
            span ※SSLを選択した場合、登録からサーバーに設定が反映されるまで最大1時間程度かかります。
          .fo.wrap
            .form_item
              label 
                span システム
                  br
                  | 日付変更
                span ：
              select(name="")
                option(disabled selected value) ▼ 選択してください。
                option(value="value1") value1
                option(value="value2") value2
                option(value="value3") value3
            p.tx ※半角全角小文字大文字に注意して、正式名称で入力してください。
          .fi.wrap
            .form_item
              label 
                span HPの
                  br
                  | 日付変更
                span ：
              select(name="")
                option(disabled selected value) ▼ 選択してください。
                option(value="value1") value1
                option(value="value2") value2
                option(value="value3") value3
            p.tx ※半角全角小文字大文字に注意して、正式名称で入力してください。
      .section_wrapper
        h2.section_title.long 店舗エリアや属性などの登録
        .shop_area
          ul
            for item in resources.ShopAreaList
              li
                a(href="#").orange_long #{item.areatitle}
                .shop_bx
                  p.name 選択エリア
                  p.content #{item.area}
                a(href="#").white_long 選択内容をリセット
      a(href="oficial_shop-child.html").orange_s_long この内容でオフィシャル店舗作成する
