extends base/_layout

include base/_tool_btn

block vars
  - var title = "TOP";
  - var name = "：トップ";

block main
  section.top
    .section_wrapper.tp_create
      h2.section_title.long オフィシャル店舗管理
      p.section_desc 店舗のオフィシャルサイトを発行する機能です。
      .set_bx
        .bx
          .title
            p.name.violet オフィシャル店舗作成
            p.link
              a(href="#") 作成はこちら
          .content
            p.desc 現在、〇〇店舗のオフィシャルサイトを開設しています。
            a(href="#").orange_long オフィシャル店舗作成
        .bx
          .title
            p.name.plum 店舗管理者の設定
            p.link
              a(href="#") 新規登録
          .content
            p.desc 現在、店舗管理者アカウントを〇〇件発行しています。
            a(href="#").orange_long 店舗管理者の設定
    .section_wrapper.tp_shop
      h2.section_title.long 最近作成した管理者一覧（新規登録順・5件表示）
      table.shop_list
        tr
          th アカウント名称
          th ステータス
          th グループ
          th 編集
        for item in resources.TopShopList
          tr
            td #{item.acount}
            td #{item.status}
            td #{item.group}
            td
              a(href="#").f_orange 編集する
    .section_wrapper.tp_portal
      h2.section_title.long ポータルサイト管理
      .status_bx
        p
          span ポータル名称
          | アネモネグループ総合サイト
        p
          span ポータルURL
          | https://www.anemone-group.com
        a(href="#").orange_short.ma >>広告管理
        a(href="#").orange_short >>デザイン編集
      .set_bx
        .bx
          .title
            p.name.green ポータル新規登録
            p.link
              a(href="#") 作成はこちら
          .content
            p.desc 現在、〇〇店舗のオフィシャルサイトを開設しています。
            a(href="#").orange_long 新規登録へ
        .bx
          .title
            p.name ポータルカテゴリ設定
          .link_bx
            a(href="#") >> エリア設定
            a(href="#") >> 最寄り駅設定
            a(href="#") >> タグ
            a(href="#") >> ラベル設定
    .section_wrapper.tp_shop
      h2.section_title.long 現在ポータルに登録されている店舗一覧（新規登録順・5件）
      table.shop_list
        tr
          th 店舗名称
          th 表示順
          th 表示データ
          th 編集
        for item in resources.TopPortalShopList
          tr
            td #{item.acount}
            td #{item.status}
            td 
              a(href="#").f_red オフィシャル店舗から同期
            td
              a(href="#").f_orange 編集する
