.oficial_shop {
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 60px 30px 50px;
  .group_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .links {
      display: flex;
      flex-direction: row;
      align-items: center;
      .white_long {
        margin-left: 30px;
      }
    }
  }
  .site_area {
    margin-top: 30px;
    .wrap,
    .inner {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .inner {
      margin: 10px 0;
    }
    .sc,
    .th,
    .fo,
    .fi {
      margin-top: 30px;
    }
    .th {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .tx {
      width: 600px;
    }
  }
  .shop_area {
    margin-top: 30px;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      li {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &:not(:first-child) {
          margin-top: 20px;
        }
        .shop_bx {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 50px;
          width: 600px;
          border: 1px solid #000;
          .name {
            width: 20%;
            height: 100%;
            line-height: 50px;
            text-align: center;
            background-color: #696969;
            color: #fff;
          }
          .content {
            width: 80%;
            height: 100%;
            line-height: 50px;
            text-align: center;
            font-size: 13px;
          }
        }
      }
    }
  }
  .mirror_shop {
    display: flex;
    flex-direction: row;
    align-items: center;
    .tx_area {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 30px;
      span {
        color: orange;
      }
    }
  }
  .box01 {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 30px 0;
      li {
        width: calc((100% - 60px) / 4);
        height: 50px;
        box-sizing: border-box;
        padding-left: 30px;
        background-color: #ffb6c1;
        label {
          line-height: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;
          input {
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
        }
        &:nth-child(-n + 4) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .box02 {
    .inner {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin: 30px 0;
      .box {
        width: 48%;
        border: 1px solid #000;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .lf {
          width: 15%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .tx {
            width: 100%;
            height: 60px;
            font-size: 18px;
            line-height: 60px;
            text-align: center;
            border-bottom: 1px solid #000;
          }
          input {
            height: 240px;
              width: 20px;
            &.rg {
              height: 290px;
            }
          }
        }
        .mi {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 35%;
          border-left: 1px solid #000;
          border-right: 1px solid #000;
          font-size: 20px;
        }
        .rg {
          height: 100%;
          width: 50%;
          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            width: 100%;
            li {
              display: block;
              width: 100%;
              height: 50px;
              box-sizing: border-box;
              padding-left: 15px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              label {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 18px;
                input {
                  width: 20px;
                  height: 20px;
                  margin-right: 20px;
                }
              }
              &:not(:last-child) {
                border-bottom: 1px solid #000;
              }
            }
          }
        }
      }
      .left {
        height: 300px;
      }
      .right {
        height: 350px;
      }
    }
  }
  .box03 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .box_inner {
      width: 48%;
      .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0;
      }
    }
  }
  .web,
  .cms {
    box-sizing: border-box;
    padding: 0 40px;
    h3 {
      margin-bottom: 30px;
    }
    .web_desc {
      font-size: 14px;
      line-height: 20px;
      color: red;
      margin-bottom: 30px;
    }
  }
  .single_set {
    box-sizing: border-box;
    padding: 30px;
    .single_title {
      font-size: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        font-size: 14px;
        margin-left: 10px;
        color: blue;
      }
    }
    .single_desc {
      margin: 20px 0;
    }
  }
  .cast-my_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    li {
      width: calc((100% - 60px) / 4);
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      label {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50px;
        border: 1px solid #000;
        line-height: 50px;
        input {
          width: 30%;
          height: 20px;
          margin-right: 20px;
          text-align: center;
        }
      }
      &:last-child {
        flex-direction: column;
        span {
          font-size: 12px;
          color: red;
          margin-top: 10px;
        }
      }
    }
  }
}
