.top {
  .set_bx {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .bx {
      width: 48%;
      border: 1px solid #000;
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #000;
        .name {
          width: 60%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          &.violet {
            background-color: #ee82ee;
          }
          &.plum {
            background-color: #dda0dd;
          }
          &.green {
            background-color: #00ff7f;
          }
        }
        .link {
          width: 40%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background-color: #f5f5f5;
          a {
            color: orange;
          }
        }
      }
      .content {
        box-sizing: border-box;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .desc {
          margin-bottom: 30px;
        }
        a {
          align-self: center;
        }
      }
    }
  }
  .tp_shop {
    width: 100%;
    table {
      width: calc(100% - 40px);
      margin: 0 auto;
      border: 1px solid #000;
      margin-top: 30px;
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid #000;
        }
      }
      th {
        background-color: #a9a9a9;
        height: 40px;
        line-height: 40px;
        &:first-child {
          width: 35%;
        }
        &:nth-child(2) {
          width: 30%;
        }
        &:nth-child(3) {
          width: 20%;
        }
        &:last-child {
          width: 15%;
        }
      }
      td {
        height: 40px;
        line-height: 40px;
        &:not(:first-child) {
          text-align: center;
        }
        &:first-child {
          box-sizing: border-box;
          padding-left: 15px;
        }
        .f_red {
          color: red;
        }
        .f_orange {
          color: orange;
        }
      }
      th,
      td {
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
      }
    }
  }
  .tp_portal {
    .status_bx {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin: 30px auto;
      p {
        width: 400px;
        height: 50px;
        line-height: 50px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border-bottom: 1px solid #808080;
        margin-right: 20px;
        span {
          display: block;
          background-color: #808080;
          height: 50px;
          width: 120px;
          text-align: center;
          color: #fff;
          margin-right: 15px;
        }
      }
      .ma {
        margin-right: 20px;
      }
    }
    .bx {
      .title {
        .name {
          width: 100%;
          background-color: #ee82ee;
        }
      }
      .link_bx {
        box-sizing: border-box;
        padding: 30px 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: block;
          box-sizing: border-box;
          padding: 10px;
          width: 48%;
          background-color: orange;
          color: #fff;
          &:nth-child(-n + 2) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
