.top_login_btn {
  display: block;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  font-size: 20px;
  border: solid 1px $brack;
  background-color: $orange;
  text-align: center;
  line-height: 50px;
}
.orange_long {
  display: block;
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background-color: #F4A460;
  text-align: center;
}
.orange_short {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background-color: orange;
  text-align: center;
}
.orange_s_long {
  display: block;
  width: 600px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background-color: orange;
  text-align: center;
  margin: 0 auto;
}
.white_long {
  display: block;
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #000;
  text-align: center;
}
.pink_long {
  display: block;
  width: 500px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  background-color: pink;
  text-align: center;
  margin: 30px auto;
}
.blue_short {
  display: block;
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background-color: #00bfff;
  text-align: center;
}
